## Lista em Python

### Estrutura:

lista=[valor,valor,valor,...]

In [1]:
produtos = ["tv", "celular", "mouse", "teclado", "tablet"]
print(produtos[1])

celular

In [2]:
vendas = [1000, 1500, 350, 270, 900]
print(vendas[1])

1500

In [3]:
vendas[3] = 300
print("Vendas do produto {} foram de {} unidades" .format(produtos[3],vendas[3]))

Vendas do produto teclado foram de 300 unidades

In [4]:
produtos = ["tv", "celular", "tablet", "mouse", "teclado", "geladeira", "forno"]
estoque = [100, 150, 100, 120, 70, 90, 80]

i = produtos.index("geladeira")

print(i)
print(produtos[i])

qtde_estoque = estoque[i]
print("Quantidade em estoque é: {}".format(qtde_estoque))

5
geladeira
Quantidade em estoque é: 90

### Adicionar e Remover Itens

In [10]:
produtos = ["apple tv", "mac", "iphone x", "ipad", "apple watch", "mac book", "airpods"]
produtos[2] = "iphone 13"
print(produtos)

produtos.append("iphone 13")
print(produtos)

produtos.remove("iphone 13")
print(produtos)

item_removido = produtos.pop(2)
print(produtos)

['apple tv', 'mac', 'iphone 13', 'ipad', 'apple watch', 'mac book', 'airpods']
['apple tv', 'mac', 'iphone 13', 'ipad', 'apple watch', 'mac book', 'airpods', 'iphone 13']
['apple tv', 'mac', 'ipad', 'apple watch', 'mac book', 'airpods', 'iphone 13']
['apple tv', 'mac', 'apple watch', 'mac book', 'airpods', 'iphone 13']

In [16]:
try:
    produtos.remove("iphonex")
    print(produtos)
except:
    print("O produto não exixte")

O produto não exixte

In [17]:
try:
    produtos.remove("iphonex")
    print(produtos)
except:
    pass

### Funções Básicas

In [18]:
produtos = ["apple tv", "mac", "iphone x", "ipad", "apple watch", "mac book", "airpods"]

In [20]:
tamanho = len(produtos)
print("Temos {} produtos" .format(tamanho))

Temos 7 produtos

In [21]:
vendas = [100, 150, 100, 120, 70, 90, 80]

In [22]:
mais_vendido = max(vendas)
menos_vendido = min(vendas)
print("O mais vendido teve {} e o menos {}".format(mais_vendido,menos_vendido))

O mais vendido teve 150 e o menos 70

In [24]:
i = vendas.index(mais_vendido)
produtos_mais_vendido = produtos[i]

i = vendas.index(menos_vendido)
produtos_menos_vendido = produtos[i]

print("O produto mais vendido foi {} e o menos vendido foi {}" .format(produtos_mais_vendido,produtos_menos_vendido))

O produto mais vendido foi mac e o menos vendido foi apple watch

### Juntar Lista, Ordenar e Cuidados Especiais

In [6]:
produtos = ["apple tv", "mac", "iphone x", "Ipad", "Apple watch", "mac book", "airpods"]
novos_produtos = ["iphone 12", "iphone 14"]

produtos.extend(novos_produtos)
print(produtos)

['apple tv', 'mac', 'iphone x', 'Ipad', 'Apple watch', 'mac book', 'airpods', 'iphone 12', 'iphone 14']

In [4]:
novos_produtos2 = ["iphone 15", "iphone 16"]
todos_produtos = produtos + novos_produtos2
print(todos_produtos)

['apple tv', 'mac', 'iphone x', 'ipad', 'apple watch', 'mac book', 'airpods', 'iphone 12', 'iphone 14', 'iphone 15', 'iphone 16']

### Cuidado

In [2]:
vendas = [1000, 1500, 15000, 20000, 270, 900, 100, 1200]
vendas_iphonex = [15000]
vendas_iphone11 = [20000]

total_iphone = vendas[2] + vendas[3]
total_iphone_lista = vendas_iphonex + vendas_iphone11
total_iphone_lista2 = vendas_iphonex[0] + vendas_iphone11[0]

print(total_iphone)
print(total_iphone_lista)
print(total_iphone_lista2)

35000
[15000, 20000]
35000

### Ordenar Lista - Tabela ASCII

In [7]:
produtos.sort()
print(produtos)

['Apple watch', 'Ipad', 'airpods', 'apple tv', 'iphone 12', 'iphone 14', 'iphone x', 'mac', 'mac book']

In [8]:
vendas.sort()
print(vendas)

[100, 270, 900, 1000, 1200, 1500, 15000, 20000]

In [10]:
produtos.sort(reverse=True)
print(produtos)

['mac book', 'mac', 'iphone x', 'iphone 14', 'iphone 12', 'apple tv', 'airpods', 'Ipad', 'Apple watch']

In [9]:
vendas.sort(reverse=True)
print(vendas)

[20000, 15000, 1500, 1200, 1000, 900, 270, 100]

### Print de Lista

In [17]:
produtos = ["apple tv", "mac", "iphone x", "Ipad", "Apple watch", "mac book", "airpods"]
print(produtos)
print("-"*15)
print(";".join(produtos))
print("-"*15)
print("\n".join(produtos))

['apple tv', 'mac', 'iphone x', 'Ipad', 'Apple watch', 'mac book', 'airpods']
---------------
apple tv;mac;iphone x;Ipad;Apple watch;mac book;airpods
---------------
apple tv
mac
iphone x
Ipad
Apple watch
mac book
airpods

In [23]:
produtos = "apple tv, mac, iphone x, Ipad, Apple watch, mac book, airpods"
lista = produtos.split(", ")

print(lista)

['apple tv', 'mac', 'iphone x', 'Ipad', 'Apple watch', 'mac book', 'airpods']

### Alterações "Incrementais" de Variáveis

In [24]:
lista = ['mac','iphone']
vendas = [100, 200]

lista = lista + ["Ipad"]
print(lista)

['mac', 'iphone', 'Ipad']

In [25]:
faturamento = 3000
faturamento = faturamento + 1000
print(faturamento)

4000

In [28]:
faturamento = 3000
faturamento += 1000
print(faturamento)

4000

In [26]:
email = 'lira@gmail'
email = email + '.com'
print(email)

lira@gmail.com

### Exercícios

Qual foi o valor de vendas do melhor mês do Ano?
E valor do pior mês do ano?

In [36]:
meses = ['jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'set', 'out', 'nov', 'dez']
vendas_1sem = [25000, 29000, 22200, 17750, 15870, 19900]
vendas_2sem = [19850, 20120, 17540, 15555, 49051, 9650]
vendas_ano = vendas_1sem + vendas_2sem #vendas_1sem.extend(vendas_2sem)
print(vendas_ano)

maior_venda = max(vendas_ano)
menor_venda = min(vendas_ano)

i_maior_valor = vendas_ano.index(maior_venda)

i_menor_valor = vendas_ano.index(menor_venda)

faturamento_total = sum(vendas_ano)

print("Maior venda em {} com {} unidades.\nMenor venda em {} com {} unidades.\nFaturamento total de {}".format(meses[i_maior_valor], maior_venda, meses[i_menor_valor], menor_venda,faturamento_total))

[25000, 29000, 22200, 17750, 15870, 19900, 19850, 20120, 17540, 15555, 49051, 9650]
Maior venda em nov com 49051 unidades.
Menor venda em dez com 9650 unidades.
Faturamento total de 261486

### Crie uma lista com o top 3 valores de vendas do ano

In [38]:
top3 = []

maior_valor = max(vendas_ano)
top3.append(maior_valor)
print(top3)
vendas_ano.remove(maior_valor)

maior_valor = max(vendas_ano)
top3.append(maior_valor)
print(top3)
vendas_ano.remove(maior_valor)

maior_valor = max(vendas_ano)
top3.append(maior_valor)
print(top3)
vendas_ano.remove(maior_valor)

[49051]
[49051, 29000]
[49051, 29000, 25000]

### Copiar e "Igualdade" de Lista

In [1]:
lista = ["ipad", "iphone x", "apple tv"]
lista2 = lista

lista[1] = "iphone 13"

print(lista)
print(lista2)

['ipad', 'iphone 13', 'apple tv']
['ipad', 'iphone 13', 'apple tv']

In [2]:
lista = ["ipad", "iphone x", "apple tv"]
lista2 = lista.copy()

lista[1] = "iphone 13"

print(lista)
print(lista2)

['ipad', 'iphone 13', 'apple tv']
['ipad', 'iphone x', 'apple tv']

In [3]:
lista = ["ipad", "iphone x", "apple tv"]
lista2 = lista[:]

lista[1] = "iphone 13"

print(lista)
print(lista2)

['ipad', 'iphone 13', 'apple tv']
['ipad', 'iphone x', 'apple tv']

### Lista de Lista

In [4]:
vendedores = ["Lira", "João", "Diego", "Alon"]
produtos = ["ipad", "iphone"]
vendas = [
    [100, 200],
    [300, 500],
    [50, 1000],
    [900, 10]
]

In [9]:
vendas_ipad_joao = vendas[1][0]
print(vendas_ipad_joao)

vendas_iphone_diego = vendas[2][1]
print(vendas_iphone_diego)

vendas_iphone = vendas[0][1] + vendas[1][1] + vendas[2][1] + vendas[3][1]
print(vendas_iphone)

300
1000
1710

In [10]:
vendas[0][1] = 50
print(vendas)

[[100, 50], [300, 500], [50, 1000], [900, 10]]

In [11]:
vendas_mac = [10, 15, 6, 70]

vendas[0].append(vendas_mac[0])
vendas[1].append(vendas_mac[1])
vendas[2].append(vendas_mac[2])
vendas[3].append(vendas_mac[3])

print(vendas)

[[100, 50, 10], [300, 500, 15], [50, 1000, 6], [900, 10, 70]]