# Estrutura de Repetição: for

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [6]:
produtos = ['coca', 'pepsi', 'guarana', 'sprite', 'fanta']
producao = [15000, 12000, 13000, 5000, 250]

tamanho = len(produtos)
for i in range(tamanho):
    print('{} unidades de {}.' .format(producao[i],produtos[i]))

15000 unidades de coca.
12000 unidades de pepsi.
13000 unidades de guarana.
5000 unidades de sprite.
250 unidades de fanta.

In [8]:
produtos = ['coca', 'pepsi', 'guarana', 'sprite', 'fanta']
texto = 'lira@gmail.com'

for produto in produtos:
    print("O produto é {}".format(produto))

for ch in texto:
    print(ch)

O produto é coca
O produto é pepsi
O produto é guarana
O produto é sprite
O produto é fanta
l
i
r
a
@
g
m
a
i
l
.
c
o
m

### for + if

In [22]:
vendas = [15000, 12000, 13000, 5000, 250, 300, 450, 1200, 3200, 80, 940, 4500, 560, 700, 300]
meta = 1000

qtd_bateu_meta = 0

for venda in vendas:
    if venda >= meta:
        qtd_bateu_meta += 1

print(qtd_bateu_meta)

qtd_funcionario = len(vendas)

print("O percentual de pessoas que bateram a meta foi de {:.1%}".format(qtd_bateu_meta/qtd_funcionario))

7
O percentual de pessoas que bateram a meta foi de 46.7%

### Enumerate

In [27]:
funcionarios = ["Maria", "Jose", "Joao", "Fabiana", "Camila", "Francisco", "Marcia", "Cassia", "Andre", "Afonso", "Rogerio"]

for i, funcionario in enumerate(funcionarios):
    print("{} é o funcionário {}".format(i, funcionario))

0 é o funcionário Maria
1 é o funcionário Jose
2 é o funcionário Joao
3 é o funcionário Fabiana
4 é o funcionário Camila
5 é o funcionário Francisco
6 é o funcionário Marcia
7 é o funcionário Cassia
8 é o funcionário Andre
9 é o funcionário Afonso
10 é o funcionário Rogerio

In [29]:
estoque = [1200, 300, 800, 1500, 1900, 2750, 400, 20, 23, 70, 90, 80, 1100, 999, 900, 880, 870, 50, 1111, 120, 300, 450, 800]
produtos = ['coca', 'pepsi', 'guarana', 'skol', 'brahma', 'agua', 'del valle', 'dolly', 'red bull', 'cachaça', 'vinho tinto', 'vodka', 'vinho branco', 'tequila', 'champagne', 'gin', 'guaracamp', 'matte', 'leite de castanha', 'leite', 'jurupinga', 'sprite', 'fanta']
nivel_minimo = 50

for i, qtd in enumerate(estoque):
    if qtd < nivel_minimo:
        print(" O produto {} está abaixo da quantidade. Temos apenas {} unidades.".format(produtos[i],qtd))

 O produto dolly está abaixo da quantidade. Temos apenas 20 unidades.
 O produto red bull está abaixo da quantidade. Temos apenas 23 unidades.

### Diferentes formas

In [30]:
produtos2 = ["iphone", "ipad", "airpod", "macbook"]
precos2 = [7000, 10000, 2500, 14000]

In [31]:
#For item in lista

for preco2 in precos2:
    print(preco2 * 1.1)

7700.000000000001
11000.0
2750.0
15400.000000000002

In [34]:
# For i in range

for i in range(len(produtos2)):
    produto2 = produtos2[i]
    preco2 = precos2[i]
    print(produto2, preco2)

iphone 7000
ipad 10000
airpod 2500
macbook 14000

In [36]:
# For item in lista com enumerate

for i, preco2 in enumerate(precos2):
    preco2 = preco2 * 1.1
    produto2 = produtos2[i]
    print(produto2, preco2)

iphone 7700.000000000001
ipad 11000.0
airpod 2750.0
macbook 15400.000000000002

### Exercício

In [ ]:
quarto = [
    ['João', 'cpf:00000000000'],
    ['Julia', 'cpf:11111111111'],
    ['Marcus', 'cpf:22222222222'],
    ['Maria', 'cpf:33333333333'],
]

In [4]:
qtd_pessoas = int(input('Quantas pessoas terão no quarto?'))
quarto = []

for i in range(qtd_pessoas):
    nome = input('Qual o nome?')
    cpf = input('Qual o cpf?')
    hospede = [nome, 'cpf:{}'.format(cpf)]
    quarto.append(hospede)
print(quarto)

[['abaco', 'cpf:12332112343'], ['nado', 'cpf:12323443212']]

In [5]:
meta = 10000
vendas = [
    ['João', 15000],
    ['Julia', 27000],
    ['Marcus', 9900],
    ['Maria', 3750],
    ['Ana', 10300],
    ['Alon', 7870],
]

for item in vendas:
    if item[1] >= meta:
        print("Vendedor {} bateu a meta em {} vendas".format(item[0], item[1]))

Vendedor João bateu a meta em 15000 vendas
Vendedor Julia bateu a meta em 27000 vendas
Vendedor Ana bateu a meta em 10300 vendas

In [19]:
produtos = ['iphone', 'galaxy', 'ipad', 'tv', 'máquina de café', 'kindle', 'geladeira', 'adega', 'notebook dell', 'notebook hp', 'notebook asus', 'microsoft surface', 'webcam', 'caixa de som', 'microfone', 'câmera canon']
vendas2019 = [558147,712350,573823,405252,718654,531580,973139,892292,422760,154753,887061,438508,237467,489705,328311,591120]
vendas2020 = [951642,244295,26964,787604,867660,78830,710331,646016,694913,539704,324831,667179,295633,725316,644622,994303]

for i, produto in enumerate(produtos):
    if vendas2020[i] > vendas2019[i]:
        crescimento = vendas2020[i] / vendas2019[i] - 1
        print("{} vendeu {:,} em 2019 e {:,} em 2020. Teve {:.2%} de crescimento".format(produto, vendas2019[i], vendas2020[i], crescimento))

iphone vendeu 558,147 em 2019 e 951,642 em 2020. Teve 70.50% de crescimento
tv vendeu 405,252 em 2019 e 787,604 em 2020. Teve 94.35% de crescimento
máquina de café vendeu 718,654 em 2019 e 867,660 em 2020. Teve 20.73% de crescimento
notebook dell vendeu 422,760 em 2019 e 694,913 em 2020. Teve 64.38% de crescimento
notebook hp vendeu 154,753 em 2019 e 539,704 em 2020. Teve 248.75% de crescimento
microsoft surface vendeu 438,508 em 2019 e 667,179 em 2020. Teve 52.15% de crescimento
webcam vendeu 237,467 em 2019 e 295,633 em 2020. Teve 24.49% de crescimento
caixa de som vendeu 489,705 em 2019 e 725,316 em 2020. Teve 48.11% de crescimento
microfone vendeu 328,311 em 2019 e 644,622 em 2020. Teve 96.34% de crescimento
câmera canon vendeu 591,120 em 2019 e 994,303 em 2020. Teve 68.21% de crescimento

### For dentro de For

In [10]:
estoque = [
    [294, 125, 269, 208, 783, 852, 259, 371, 47, 102, 386, 87, 685, 686, 697, 941, 163, 631, 7, 714, 218, 670, 453],
    [648, 816, 310, 555, 992, 643, 226, 319, 501, 23, 239, 42, 372, 441, 126, 645, 927, 911, 761, 445, 974, 2, 549],
    [832, 683, 784, 449, 977, 705, 198, 937, 729, 327, 339, 10, 975, 310, 95, 689, 137, 795, 211, 538, 933, 751, 522],
    [837, 168, 570, 397, 53, 297, 966, 714, 72, 737, 259, 629, 625, 469, 922, 305, 782, 243, 841, 848, 372, 621, 362],
    [429, 242, 53, 985, 406, 186, 198, 50, 501, 870, 781, 632, 781, 105, 644, 509, 401, 88, 961, 765, 422, 340, 654],
]
fabricas = ['Lira Manufacturing', 'Fábrica Hashtag', 'Python Manufaturas', 'Produções e Cia', 'Manufatura e Cia']
nivel_minimo = 50
fabricas_abaixo_nivel = []

for i, lista in enumerate(estoque):
    for qtde in lista:
        if qtde < nivel_minimo:
            if fabricas[i] in fabricas_abaixo_nivel:
                pass
            else:
                fabricas_abaixo_nivel.append(fabricas[i])
print(fabricas_abaixo_nivel)

['Lira Manufacturing', 'Fábrica Hashtag', 'Python Manufaturas']

### Exercicio

In [22]:
meta = 10000
vendas = [
    ['João', 15000],
    ['Julia', 2000],
    ['Marcus', 9900],
    ['Maria', 3750],
    ['Ana', 10300],
    ['Alon', 75870],
]

In [19]:
#criando lista auxiliar
acima_meta = []

for venda in vendas:
    if venda[1] >= meta:
        acima_meta.append(venda)

print(acima_meta)
print(len(vendas))
print(len(acima_meta))
print("{:.2%} dos vendedores bateram a meta".format(len(acima_meta)/len(vendas)))

[['João', 15000], ['Ana', 10300]]
6
2
33.33% dos vendedores bateram a meta

In [20]:
#calcular direto na lista
qtd_vendedores_acima = 0

for venda in vendas:
    if venda[1] >= meta:
        qtd_vendedores_acima += 1

print("{:.2%} dos vendedores bateram a meta".format(qtd_vendedores_acima/len(vendas)))

33.33% dos vendedores bateram a meta

In [23]:
#maior vendas
melhor_vendedor = ""
maior_vendas = 0

for venda in vendas:
    if venda[1] > maior_vendas:
        maior_vendas = venda[1]
        melhor_vendedor = venda[0]
    else:
        pass
print("O melhor vendedor foi {} com {} vendas".format(melhor_vendedor, maior_vendas))

O melhor vendedor foi Alon com 75870 vendas

### Interromper o for

In [35]:
vendas = [100, 150, 1500, 2000, 120]

In [31]:
meta = 130

for venda in vendas:
    if venda < meta:
        print("A loja não bateu a meta")
        break
print(venda)

A loja não bateu a meta
100

In [36]:
vendedores = ["João", "Julia", "Ana", "Jose", "Maria"]
meta = 130

for venda in vendas:
    if venda < meta:
        continue
print(venda)

120

## Lista de Exercícios

In [38]:
# 1. Faça um Programa que leia as vendas dos vendedores, mostre a venda de cada vendedor com o seu nome e a média de vendas.

vendas = [1000, 1500, 1200, 1300]
vendedores = ["Fulano", "Beltrano", "Ciclano", "Lira"]

for i, venda in enumerate(vendas):
    print("Vendedor {} vendeu {} unidades".format(vendedores[i],vendas[i]))

Vendedor Fulano vendeu 1000 unidades
Vendedor Beltrano vendeu 1500 unidades
Vendedor Ciclano vendeu 1200 unidades
Vendedor Lira vendeu 1300 unidades

In [ ]:
# 2. Faça um Programa que crie uma lista com as médias de cada aluno, imprima as médias de cada aluno e a quantidade de alunos com média maior que 7.

alunos = ["José", "Joana", "Maria", "Carla", "Mauricio", "Andre", "Tiago", "Enzo", "Amanda", "Alessandra"]
notas = [
    [10, 9, 8, 8],
    [9, 7, 6, 4],
    [10, 10, 10, 10],
    [5, 3, 10, 9],
    [7, 6, 6, 6],
    [7, 7, 8, 7],
    [7, 7, 7, 9],
    [8, 5, 6, 7],
    [10, 9, 7, 4],
    [10, 1, 3, 3],
]

In [ ]:
# 3. Foram anotadas as idades e salários de 30 funcionários. Faça um programa que determine quantos funcionários com mais de 25 anos possuem salário inferior à média de todos os salários.

idades = [35,32,50,33,48,50,33,48,22,49,35,38,20,47,49,48,34,21,48,44,48,30,25,42,42,23,25,23,38,35]
salarios = [3739,2219,3554,3978,4014,3270,4792,3879,2981,2384,4826,2460,3680,4318,1872,1770,4640,3929,3295,1729,3965,4267,4007,1916,2987,2943,3852,4543,2055,1730]

In [ ]:
# 4.Em quais meses a média de temperatura foi maior do que a média nacional?

meses = [
    'Janeiro',
    'Fevereiro',
    'Março',
    'Abril',
    'Maio',
    'Junho',
    'Julho',
    'Agosto',
    'Setembro',
    'Outubro',
    'Novembro',
    'Dezembro'
]

temperaturas = [30, 29, 28, 28, 25, 26, 20, 21, 19, 25, 27, 32]

#### 5. As Organizações Tabajara resolveram dar um abono aos seus colaboradores em reconhecimento ao bom resultado alcançado durante o ano que passou. Para isto contratou você para desenvolver a aplicação que servirá como uma projeção de quanto será gasto com o pagamento deste abono.
<pre>Após reuniões envolvendo a diretoria executiva, a diretoria financeira e os representantes do sindicato laboral, chegou-se a seguinte forma de cálculo:
. Cada funcionário receberá o equivalente a 20% do seu salário bruto de dezembro;
. O piso do abono será de 100 reais, isto é, aqueles funcionários cujo salário for muito baixo, recebem este valor mínimo; 

Neste momento, não se deve ter nenhuma preocupação com colaboradores com tempo menor de casa, descontos, impostos ou outras particularidades. O programa deverá calcular o valor do abono concedido a cada colaborador, de acordo com a regra definida acima. Ao final, o programa deverá apresentar:</pre>
<pre>
O salário de cada funcionário, juntamente com o valor do abono;
O número total de funcionário processados;
O valor total a ser gasto com o pagamento do abono;
O número de funcionário que receberá o valor mínimo de 100 reais;
O maior valor pago como abono; A tela abaixo é um exemplo de execução do programa, apenas para fins ilustrativos.
<pre>
Projeção de Gastos com Abono
============================ 
 
Salário: 1000
Salário: 300
Salário: 500
Salário: 100
Salário: 4500
Salário: 0
 
Salário    - Abono     
R$ 1000.00 - R$  200.00
R$  300.00 - R$  100.00
R$  500.00 - R$  100.00
R$  100.00 - R$  100.00
R$ 4500.00 - R$  900.00
 
Foram processados 5 colaboradores
Total gasto com abonos: R$ 1400.00
Valor mínimo pago a 3 colaboradores
Maior valor de abono pago: R$ 900.00

In [ ]:
lista_salarios = [1000, 300, 500, 200, 1500, 3000, 3400, 5000, 7000, 2000, 600, 800, 250, 1500, 20000]
abonos = []

#### 6. Faça um programa que carregue uma lista com os modelos de cinco carros (exemplo de modelos: FUSCA, GOL, VECTRA etc). Carregue uma outra lista com o consumo desses carros, isto é, quantos quilômetros cada um desses carros faz com um litro de combustível. Calcule e mostre:
<pre>
a. O modelo do carro mais econômico;
b. Quantos litros de combustível cada um dos carros cadastrados consome para percorrer uma distância de 1000 quilômetros e quanto isto custará, considerando um que a gasolina custe R$ 2,25 o litro. Abaixo segue uma tela de exemplo. O disposição das informações deve ser o mais próxima possível ao exemplo. Os dados são fictícios e podem mudar a cada execução do programa.</pre>
```
Comparativo de Consumo de Combustível

Veículo 1
Nome: fusca
Km por litro: 7
Veículo 2
Nome: gol
Km por litro: 10
Veículo 3
Nome: uno
Km por litro: 12.5
Veículo 4
Nome: Vectra
Km por litro: 9
Veículo 5
Nome: Peugeout
Km por litro: 14.5

Relatório Final
 1 - fusca           -    7.0 -  142.9 litros - R$ 321.43
 2 - gol             -   10.0 -  100.0 litros - R$ 225.00
 3 - uno             -   12.5 -   80.0 litros - R$ 180.00
 4 - vectra          -    9.0 -  111.1 litros - R$ 250.00
 5 - peugeout        -   14.5 -   69.0 litros - R$ 155.17
O menor consumo é do peugeout.
```

In [ ]:
print('Comparativo de Consumo de Combustível')
veiculos = ['fusca',' gol', 'uno', 'vectra', 'peugeot']
autonomias = [7, 10, 12.5, 9, 14.5]
    
print('Relatório Final')

#### 7. Uma empresa paga seus vendedores com base em comissões. O vendedor recebe \\$200 por semana mais 9 por cento de suas vendas brutas daquela semana. Por exemplo, um vendedor que teve vendas brutas de \\$3000 em uma semana recebe \\$200 mais 9 por cento de \\$3000, ou seja, um total de \\$470. Escreva um programa (usando um array de contadores) que determine quantos vendedores receberam salários nos seguintes intervalos de valores:
<pre>
$200 - $299
$300 - $399
$400 - $499
$500 - $599
$600 - $699
$700 - $799
$800 - $899
$900 - $999
$1000 em diante
</pre>

Existem várias formas de fazer. Faça primeiro da forma que parecer mais intuitiva para você.

Em seguida, caso queira um desafio:
Desafio: Crie uma forma para chegar na posição da lista a partir do salário, sem fazer vários ifs aninhados.

In [ ]:
vendas = [1000, 2000, 3000, 4000, 5000, 6000, 5500, 4500, 3600]