# Estrutura de Repetição: for

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [6]:
produtos = ['coca', 'pepsi', 'guarana', 'sprite', 'fanta']
producao = [15000, 12000, 13000, 5000, 250]

tamanho = len(produtos)
for i in range(tamanho):
    print('{} unidades de {}.' .format(producao[i],produtos[i]))

15000 unidades de coca.
12000 unidades de pepsi.
13000 unidades de guarana.
5000 unidades de sprite.
250 unidades de fanta.

In [8]:
produtos = ['coca', 'pepsi', 'guarana', 'sprite', 'fanta']
texto = 'lira@gmail.com'

for produto in produtos:
    print("O produto é {}".format(produto))

for ch in texto:
    print(ch)

O produto é coca
O produto é pepsi
O produto é guarana
O produto é sprite
O produto é fanta
l
i
r
a
@
g
m
a
i
l
.
c
o
m

### for + if

In [22]:
vendas = [15000, 12000, 13000, 5000, 250, 300, 450, 1200, 3200, 80, 940, 4500, 560, 700, 300]
meta = 1000

qtd_bateu_meta = 0

for venda in vendas:
    if venda >= meta:
        qtd_bateu_meta += 1

print(qtd_bateu_meta)

qtd_funcionario = len(vendas)

print("O percentual de pessoas que bateram a meta foi de {:.1%}".format(qtd_bateu_meta/qtd_funcionario))

7
O percentual de pessoas que bateram a meta foi de 46.7%

### Enumerate

In [27]:
funcionarios = ["Maria", "Jose", "Joao", "Fabiana", "Camila", "Francisco", "Marcia", "Cassia", "Andre", "Afonso", "Rogerio"]

for i, funcionario in enumerate(funcionarios):
    print("{} é o funcionário {}".format(i, funcionario))

0 é o funcionário Maria
1 é o funcionário Jose
2 é o funcionário Joao
3 é o funcionário Fabiana
4 é o funcionário Camila
5 é o funcionário Francisco
6 é o funcionário Marcia
7 é o funcionário Cassia
8 é o funcionário Andre
9 é o funcionário Afonso
10 é o funcionário Rogerio

In [29]:
estoque = [1200, 300, 800, 1500, 1900, 2750, 400, 20, 23, 70, 90, 80, 1100, 999, 900, 880, 870, 50, 1111, 120, 300, 450, 800]
produtos = ['coca', 'pepsi', 'guarana', 'skol', 'brahma', 'agua', 'del valle', 'dolly', 'red bull', 'cachaça', 'vinho tinto', 'vodka', 'vinho branco', 'tequila', 'champagne', 'gin', 'guaracamp', 'matte', 'leite de castanha', 'leite', 'jurupinga', 'sprite', 'fanta']
nivel_minimo = 50

for i, qtd in enumerate(estoque):
    if qtd < nivel_minimo:
        print(" O produto {} está abaixo da quantidade. Temos apenas {} unidades.".format(produtos[i],qtd))

 O produto dolly está abaixo da quantidade. Temos apenas 20 unidades.
 O produto red bull está abaixo da quantidade. Temos apenas 23 unidades.

### Diferentes formas

In [30]:
produtos2 = ["iphone", "ipad", "airpod", "macbook"]
precos2 = [7000, 10000, 2500, 14000]

In [31]:
#For item in lista

for preco2 in precos2:
    print(preco2 * 1.1)

7700.000000000001
11000.0
2750.0
15400.000000000002

In [34]:
# For i in range

for i in range(len(produtos2)):
    produto2 = produtos2[i]
    preco2 = precos2[i]
    print(produto2, preco2)

iphone 7000
ipad 10000
airpod 2500
macbook 14000

In [36]:
# For item in lista com enumerate

for i, preco2 in enumerate(precos2):
    preco2 = preco2 * 1.1
    produto2 = produtos2[i]
    print(produto2, preco2)

iphone 7700.000000000001
ipad 11000.0
airpod 2750.0
macbook 15400.000000000002

### Exercício

In [ ]:
quarto = [
    ['João', 'cpf:00000000000'],
    ['Julia', 'cpf:11111111111'],
    ['Marcus', 'cpf:22222222222'],
    ['Maria', 'cpf:33333333333'],
]

In [4]:
qtd_pessoas = int(input('Quantas pessoas terão no quarto?'))
quarto = []

for i in range(qtd_pessoas):
    nome = input('Qual o nome?')
    cpf = input('Qual o cpf?')
    hospede = [nome, 'cpf:{}'.format(cpf)]
    quarto.append(hospede)
print(quarto)

[['abaco', 'cpf:12332112343'], ['nado', 'cpf:12323443212']]

In [5]:
meta = 10000
vendas = [
    ['João', 15000],
    ['Julia', 27000],
    ['Marcus', 9900],
    ['Maria', 3750],
    ['Ana', 10300],
    ['Alon', 7870],
]

for item in vendas:
    if item[1] >= meta:
        print("Vendedor {} bateu a meta em {} vendas".format(item[0], item[1]))

Vendedor João bateu a meta em 15000 vendas
Vendedor Julia bateu a meta em 27000 vendas
Vendedor Ana bateu a meta em 10300 vendas

In [ ]:
produtos = ['iphone', 'galaxy', 'ipad', 'tv', 'máquina de café', 'kindle', 'geladeira', 'adega', 'notebook dell', 'notebook hp', 'notebook asus', 'microsoft surface', 'webcam', 'caixa de som', 'microfone', 'câmera canon']
vendas2019 = [558147,712350,573823,405252,718654,531580,973139,892292,422760,154753,887061,438508,237467,489705,328311,591120]
vendas2020 = [951642,244295,26964,787604,867660,78830,710331,646016,694913,539704,324831,667179,295633,725316,644622,994303]