# Tuplas

In [7]:
vendas = ("Lira", "25/08/2002", 2000)
print(vendas)

nome = vendas[0]
Data = vendas[1]
Quantidade = vendas[2]

print(nome)

print("O {} na data {}, vendeu {} uniades.".format(nome,Data,Quantidade))

('Lira', '25/08/2002', 2000)
Lira
O Lira na data 25/08/2002, vendeu 2000 uniades.

In [9]:
vendas2 = ('Lira Hashtag', '01/01/1999', 200, 'Estágio')

nome, nascimento, qtd, cargo = vendas2

print(nome)
print(cargo)

Lira Hashtag
Estágio