## Dicionários

In [1]:
mais_vendidos = {'tecnologia': 'iphone', 'refrigeracao': 'ar consul 12000 btu', 'livros': 'o alquimista', 'eletrodoméstico': 'geladeira', 'lazer': 'prancha surf'}

vendas_tecnologia = {'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

In [5]:
qtde_iphone = vendas_tecnologia['iphone']
qtde_noteasus = vendas_tecnologia['notebook asus']
qtde_ipad = vendas_tecnologia['ipad']

print(qtde_noteasus)
print(qtde_ipad)
print(qtde_iphone)

2450
1000
15000

In [3]:
livro = mais_vendidos['livros']
lazer = mais_vendidos['lazer']

print(livro)
print(lazer)

o alquimista
prancha surf

In [10]:
print(vendas_tecnologia.get('notebook asus'))
print(vendas_tecnologia.get('ipad'))
print('Vendemos {} ipad'.format(vendas_tecnologia.get('ipad')))

2450
1000
Vendemos 1000 ipad

In [12]:
if 'copo' in vendas_tecnologia:
    print(vendas_tecnologia['copo'])
else:
    print('Copo não está dentro da lista')


if vendas_tecnologia.get('copo') == None:
    print('Copo não está dentro da lista de tecnologia')
else:
    print(vendas_tecnologia.get('copo'))

Copo não está dentro da lista
Copo não está dentro da lista de tecnologia

#### Adicionar, Remover e Modificar itens no Dicionário

dicionario = {}

dicionario[chave] = valor

outra opção:

dicionario.update({chave: valor, chave: valor})

In [25]:
lucro_1_tri = {'janeiro': 100000, 'fevereiro': 120000, 'março': 90000}
lucro_2_tri = {'abril': 88000, 'maio': 89000, 'junho': 120000}

print(lucro_1_tri)

lucro_1_tri['janeiro'] = 88000

lucro_1_tri['abril'] = 90000
print(lucro_1_tri)

lucro_1_tri.update(lucro_2_tri)
print(lucro_1_tri)

{'janeiro': 100000, 'fevereiro': 120000, 'março': 90000}
{'janeiro': 88000, 'fevereiro': 120000, 'março': 90000, 'abril': 90000}
{'janeiro': 88000, 'fevereiro': 120000, 'março': 90000, 'abril': 88000, 'maio': 89000, 'junho': 120000}

In [5]:
lucro_fev = 50000

lucro_1_tri['fevereiro'] = lucro_fev

print(lucro_1_tri)

{'janeiro': 88000, 'fevereiro': 50000, 'março': 90000, 'abril': 88000, 'maio': 89000, 'junho': 120000}

del dicionario[chave]

outra opção:

valor = dicionario.pop(chave)

mas cuidado:
del dicionario é diferente de dicionario.clear()

In [ ]:
del lucro_1_tri['junho']
print(lucro_1_tri)

# ou você pode tirar dessa forma:

lucro_maio = lucro_1_tri.pop('maio')
print(lucro_1_tri)
print(lucro_maio)

{'janeiro': 88000, 'fevereiro': 120000, 'março': 90000, 'abril': 88000, 'maio': 89000}
{'janeiro': 88000, 'fevereiro': 120000, 'março': 90000, 'abril': 88000}
89000

## For nos Dicionarios

for chave in dicionario:
    faça alguma coisa

In [32]:
vendas_tecnologia = {'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

for chave in vendas_tecnologia:
    print('{} com {} unidades'.format(chave,vendas_tecnologia[chave]))

iphone com 15000 unidades
samsung galaxy com 12000 unidades
tv samsung com 10000 unidades
ps5 com 14300 unidades
tablet com 1720 unidades
ipad com 1000 unidades
tv philco com 2500 unidades
notebook hp com 1000 unidades
notebook dell com 17000 unidades
notebook asus com 2450 unidades

In [33]:
total_notebook = 0

for chave in vendas_tecnologia:
    if 'notebook' in chave:
        total_notebook += vendas_tecnologia[chave]
print(total_notebook)

20450