## Iterable

In [1]:
#Lista

produtos = ['iphone', 'samsung galaxy', 'tv samsung', 'ps5', 'tablet', 'ipad', 'tv philco', 'notebook hp', 'notebook dell', 'notebook asus']

for produto in produtos:
    print(produto)

iphone
samsung galaxy
tv samsung
ps5
tablet
ipad
tv philco
notebook hp
notebook dell
notebook asus

In [2]:
#String

texto = 'lira@gmail.com'

for ch in texto:
    print(ch)

l
i
r
a
@
g
m
a
i
l
.
c
o
m

In [3]:
#Tuplas

produtos = ('iphone', 'samsung galaxy', 'tv samsung', 'ps5', 'tablet', 'ipad', 'tv philco', 'notebook hp', 'notebook dell', 'notebook asus')

for produto in produtos:
    print(produto)

iphone
samsung galaxy
tv samsung
ps5
tablet
ipad
tv philco
notebook hp
notebook dell
notebook asus

In [4]:
#Dicionários

vendas_produtos = {'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

for produto in vendas_produtos:
    print('{}: {} unidades'.format(produto,vendas_produtos[produto]))

iphone: 15000 unidades
samsung galaxy: 12000 unidades
tv samsung: 10000 unidades
ps5: 14300 unidades
tablet: 1720 unidades
ipad: 1000 unidades
tv philco: 2500 unidades
notebook hp: 1000 unidades
notebook dell: 17000 unidades
notebook asus: 2450 unidades

### Range

In [8]:
produtos = ['arroz','feijao','macarrao','atum','azeite']
estoque = [50,100,20,5,80]

for i in range(5):
    print(produtos[i],estoque[i])

arroz 50
feijao 100
macarrao 20
atum 5
azeite 80

In [10]:
print(range(1,10))

for i in range(1,10):
    print(i)

range(1, 10)
1
2
3
4
5
6
7
8
9

In [11]:
funcionarios = ['Maria', 'José', 'Antônio', 'João', 'Francisco', 'Ana', 'Luiz', 'Paulo', 'Carlos', 'Manoel', 'Pedro', 'Francisca', 'Marcos', 'Raimundo', 'Sebastião', 'Antônia', 'Marcelo', 'Jorge', 'Márcia', 'Geraldo']
vendas = [2750, 1900, 1500, 1200, 1111, 1100, 999, 900, 880, 870, 800, 800, 450, 400, 300, 300, 120, 90, 80, 70]


print('Funcionários Classe B')
for i in range(3,18):
    print('{}: fez {}'.format(funcionarios[i],vendas[i]))

Funcionários Classe B
João: fez 1200
Francisco: fez 1111
Ana: fez 1100
Luiz: fez 999
Paulo: fez 900
Carlos: fez 880
Manoel: fez 870
Pedro: fez 800
Francisca: fez 800
Marcos: fez 450
Raimundo: fez 400
Sebastião: fez 300
Antônia: fez 300
Marcelo: fez 120
Jorge: fez 90

In [12]:
#range com passo
print(range(0, 1000, 10))

for i in range(0, 1000, 10):
    print(i)

range(0, 1000, 10)
0
10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320
330
340
350
360
370
380
390
400
410
420
430
440
450
460
470
480
490
500
510
520
530
540
550
560
570
580
590
600
610
620
630
640
650
660
670
680
690
700
710
720
730
740
750
760
770
780
790
800
810
820
830
840
850
860
870
880
890
900
910
920
930
940
950
960
970
980
990

## Set

### Estrutura:

meu_set = {valor, valor, valor, valor,...}

### Observações:

- Não pode ter valores duplicados
- Não tem ordem fixa

In [13]:
set_produtos = {'arroz','feijao','macarrao','atum','azeite'}

print(set_produtos)

{'azeite', 'arroz', 'atum', 'feijao', 'macarrao'}

In [16]:
cpf_clientes = ['762.196.080-97', '263.027.380-67', '827.363.930-40', '925.413.640-91', '870.565.160-33', '892.080.930-50', '462.126.030-81', '393.462.330-10', '393.462.330-10', '393.462.330-10', '988.305.810-11', '596.125.830-05', '596.125.830-05', '990.236.770-48']

set_cpf_clientes = set(cpf_clientes)
cpf_unicos = list(set_cpf_clientes)
print(len(set_cpf_clientes))
print(cpf_unicos)

11
['925.413.640-91', '596.125.830-05', '462.126.030-81', '827.363.930-40', '892.080.930-50', '870.565.160-33', '762.196.080-97', '988.305.810-11', '393.462.330-10', '990.236.770-48', '263.027.380-67']

- add -> adiciona um item no set

In [ ]:
meu_set = {'iphone', 'macbook', 'ipad'}
meu_set.add('airpod')
print(meu_set)

- remove -> retira um item de um set

In [ ]:
meu_set = {'iphone', 'macbook', 'ipad'}
meu_set.remove('iphone')
print(meu_set)

- clear -> retira todos os itens de um set

In [ ]:
meu_set = {'iphone', 'macbook', 'ipad'}
meu_set.clear()
print(meu_set)

- union -> junta as informações de 2 sets. Se houver algum valor duplicado, ele constará apenas 1 vez no set final

In [ ]:
produtos = {'iphone', 'macbook', 'ipad'}
lancamentos = {'airpod', 'apple watch', 'ipod', 'ipad'}
todos_produtos = produtos.union(lancamentos)
print(todos_produtos)

- intersection -> pega apenas as informações que existem nos 2 sets ao mesmo tempo

In [ ]:
produtos = {'iphone', 'macbook', 'ipad'}
lancamentos = {'airpod', 'apple watch', 'ipod', 'ipad'}
intersecao = produtos.intersection(lancamentos)
print(intersecao)

- difference -> retorna todas as informações de um set que não fazem parte de outro set

In [ ]:
produtos = {'iphone', 'macbook', 'ipad'}
lancamentos = {'airpod', 'apple watch', 'ipod', 'ipad'}
produtos_nao_lancamentos = produtos.difference(lancamentos)
print(produtos_nao_lancamentos) #repare que ipad foi retirado do resultado porque ele estava contido no set de lançamentos