# O que é o Pandas e para que serve

- Análise de Dados (seja para DataScience, seja para trabalhar de forma integrada com arquivos em Excel e Banco de Dados)
- Melhor biblioteca/módulo para trabalhar com quantidades enormes de informações
- Uma mistura de listas e dicionários de forma muito eficiente

## Resumo

Se você trabalha com muitos dados, você vai precisar usar o pandas

## Forma de usar

In [ ]:
import pandas as pd

produto_df = pd.read_csv(r"C:\Users\andre\OneDrive\Documentos\GitHub\Cursos\Python\arquivos\Contoso - Cadastro Produtos.csv", encoding="ISO-8859-1", sep=';')

produto_df.info()

In [ ]:
import pandas as pd

vendas_df = pd.read_csv(r"arquivos\Contoso - Vendas - 2017.csv", sep=';')

vendas_df['ID Cliente']

In [ ]:
vendas_df[:3]

In [ ]:
vendas_df[['Numero da Venda', 'Data da Venda', 'ID Produto']]

In [ ]:
vendas_df['ID Produto'][0]

## Aplicações

In [ ]:
# Informações da tabela

vendas_df.info()

In [ ]:
# Criar uma lista de Clientes

lista_clientes = vendas_df['ID Cliente']

lista_clientes

In [ ]:
# Criar uma lista com produto e quantidade, pode ser feito de duas formas:

# lista_produto = ['ID Produto', 'Quantidade Vendida', 'Quantidade Devolvida']
# produtos_quantidades = vendas_df[lista_produto]

produtos_quantidades = vendas_df[['ID Produto', 'Quantidade Vendida', 'Quantidade Devolvida']]

produtos_quantidades

In [ ]:
import pandas as pd

# As vezes precisa mudar o encoding. Possíveis valores para testar:
# encoding = 'Latin1', encoding='ISO-8859-1', encoding='utf-8' ou encoding='cp1252'
produtos_df = pd.read_csv(r'arquivos\Contoso - Cadastro Produtos.csv', encoding="ISO-8859-1", sep=';')
clientes_df = pd.read_csv(r'arquivos\Contoso - Clientes.csv', encoding="ISO-8859-1", sep=';')
lojas_df = pd.read_csv(r'arquivos\Contoso - Lojas.csv', encoding="ISO-8859-1", sep=';')
promocoes_df = pd.read_csv(r'arquivos\Contoso - Promocoes.csv', encoding="ISO-8859-1", sep=';')
vendas_df = pd.read_csv(r"arquivos\Contoso - Vendas - 2017.csv", sep=';')

# Usar o display para ver todos os dataframes
display(produtos_df)
display(clientes_df)
display(lojas_df)
display(promocoes_df)
display(vendas_df)

In [ ]:
# Tirar as colunas inúteis

clientes_df = clientes_df.drop(['Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10'], axis=1)
display(clientes_df)

In [ ]:
# Ou selecionar as colunas que eu quero
produtos_df = produtos_df[['ID Produto', 'ÿNome do Produto']]
lojas_df = lojas_df[['ÿID Loja', 'Nome da Loja']]
clientes_df = clientes_df[['ÿID Cliente', 'E-mail']]
display(clientes_df)

In [ ]:
# Renomear as colunas
produtos_df = produtos_df.rename(columns={'ÿNome do Produto': 'Nome do Produto'})
display(produtos_df)

lojas_df = lojas_df.rename(columns={'ÿID Loja': 'ID Loja'})
display(lojas_df)

clientes_df.columns = clientes_df.columns.str.replace("ÿ", "", regex=False)
display(clientes_df)

In [ ]:
display(vendas_df)

In [ ]:
# Juntando os dataframes para ter somente UM dataframe
vendas_df = vendas_df.merge(produtos_df, on='ID Produto')
vendas_df = vendas_df.merge(clientes_df, on='ID Cliente')
vendas_df = vendas_df.merge(lojas_df, on='ID Loja')

display(vendas_df)

In [ ]:
frequencia_clientes = vendas_df['E-mail'].value_counts() # quantidade que aparece
display(frequencia_clientes)
frequencia_clientes[:5].plot(figsize=(15,5)) # os primeiros 5 itens

In [ ]:
frequencia_clientes[:5].plot(figsize=(15,5), yticks=range(68, 78, 2))

In [ ]:
# Agrupando e somando

vendas_lojas = vendas_df.groupby('Nome da Loja').sum()
vendas_lojas = vendas_lojas[['Quantidade Vendida']]
display(vendas_lojas)

In [ ]:
# ordenar o dataframe
# Ascending - Crescente:True Decrescente:False
vendas_lojas = vendas_lojas.sort_values('Quantidade Vendida', ascending=False)
display(vendas_lojas)
vendas_lojas[:5].plot(figsize=(15,5), kind='bar')
print(vendas_lojas[0:1]) # maior valor
print(vendas_lojas[-1:]) # menor valor

In [ ]:
# Pegar o maior valor

maior_valor = vendas_lojas['Quantidade Vendida'].max()
melhor_loja = vendas_lojas['Quantidade Vendida'].idxmax()
print(melhor_loja, maior_valor)

In [ ]:
# Pegar o menor valor

menor_valor = vendas_lojas['Quantidade Vendida'].min()
pior_loja = vendas_lojas['Quantidade Vendida'].idxmin()
print(pior_loja, menor_valor)

## Filtrando Informações

In [ ]:
# Percentual das vendas devolvidas
qtd_vendida = vendas_df['Quantidade Vendida'].sum()
qtd_devolvida = vendas_df['Quantidade Devolvida'].sum()

print('{:.2%}'.format(qtd_devolvida/qtd_vendida))

In [ ]:
# Filtrar apenas os itens da Loja Contoso Europe Online - ID 306

vendas_loja_contoso_europe_online = vendas_df[vendas_df['ID Loja'] == 306]
display(vendas_loja_contoso_europe_online)

In [ ]:
qtd_vendida = vendas_loja_contoso_europe_online['Quantidade Vendida'].sum()
qtd_devolvida = vendas_loja_contoso_europe_online['Quantidade Devolvida'].sum()

print('{:.2%}'.format(qtd_devolvida/qtd_vendida))

In [ ]:
# vendas_loja_contoso_europe_online = vendas_df[vendas_df['ID Loja'] == 306]

loja_306 = vendas_df['ID Loja'] == 306
display(loja_306)

In [ ]:
vendas_loja_contoso_europe_online = vendas_df[loja_306]
display(vendas_loja_contoso_europe_online)

In [ ]:
# Mais de um filtro
df_306_semdevolucao = vendas_df[(vendas_df['ID Loja'] == 306) & (vendas_df['Quantidade Devolvida'] == 0)]
display(df_306_semdevolucao)

loja306 = vendas_df['ID Loja'] == 306
qtd_devolvida_0 = vendas_df['Quantidade Devolvida'] == 0
df2_306_semdevolucao = vendas_df[loja306 & qtd_devolvida_0]
display(df2_306_semdevolucao)

In [ ]:
vendas_df.info()

In [ ]:
# Coluna Data da Venda em DATA
vendas_df['Data da Venda'] = pd.to_datetime(vendas_df['Data da Venda'], format='%d/%m/%Y')

# Adicionando colunas
vendas_df['Ano da Venda'] = vendas_df['Data da Venda'].dt.year
vendas_df['Mes da Venda'] = vendas_df['Data da Venda'].dt.month
vendas_df['Dia da Venda'] = vendas_df['Data da Venda'].dt.day
display(vendas_df)
vendas_df.info()

## Método loc e iloc

In [ ]:
novo_produto_df = pd.read_csv(r'arquivos\Contoso - Cadastro Produtos.csv', encoding="ISO-8859-1", sep=';')
display(novo_produto_df.head())

In [ ]:
novo_produto_df = novo_produto_df.rename(columns={'ÿNome do Produto':'Nome do Produto'})
display(novo_produto_df.head())

In [ ]:
novo_produto_df.loc[[0,2,5]]

In [ ]:
novo_produto_df = novo_produto_df.set_index('Nome do Produto')
display(novo_produto_df)

In [ ]:
# Como foi setado o index, o loc não funciona mais pelo número, mas pelo nome do Produto
novo_produto_df.loc['Contoso Wireless Laser Mouse E50 Grey']

In [ ]:
novo_produto_df.loc['Contoso Wireless Laser Mouse E50 Grey', 'Tipo']

In [ ]:
# por iloc número da linha e número da coluna - df.iloc[linha,coluna]
print(novo_produto_df.iloc[2,6])

### A empresa decidiu aumentar o preço do produto ID 873 (Contoso Wireless Laser Mouse E50 Grey):

In [ ]:
# Primeira forma acessando pelo índice, mudando para R$ 23,00
novo_produto_df.loc['Contoso Wireless Laser Mouse E50 Grey', 'Preco Unitario'] = 23
novo_produto_df.loc['Contoso Wireless Laser Mouse E50 Grey']

In [ ]:
# Segunda forma acessando por critério, mudando para R$ 25,00
novo_produto_df.loc[novo_produto_df['ID Produto'] == 873, 'Preco Unitario'] = 25
novo_produto_df.loc['Contoso Wireless Laser Mouse E50 Grey']

### Exportando do dataframe para um csv

In [ ]:
vendas_df = vendas_df[['Data da Venda', 'Nome do Produto', 'Nome da Loja', 'Quantidade Vendida', 'ID Loja']]
vendas_df_contoso_austin = vendas_df[vendas_df['ID Loja'] == 86]
display(vendas_df_contoso_austin)

In [ ]:
vendas_df_contoso_austin.to_csv(r'arquivos\Novo Vendas 2017.csv', sep=';')

### Criando um dicionário, transformando depois em um dataframe

In [ ]:
niveis_co2 = {
    'AC': [325,405,429,486,402],
    'AL': [492,495,310,407,388],
    'AP': [507,503,368,338,400],
    'AM': [429,456,352,377,363],
    'BA': [321,508,372,490,412],
    'CE': [424,328,425,516,480],
    'ES': [449,506,461,337,336],
    'GO': [425,460,385,485,460],
    'MA': [361,310,344,425,490],
    'MT': [358,402,425,386,379],
    'MS': [324,357,441,405,427],
    'MG': [345,367,391,427,516],
    'PA': [479,514,392,493,329],
    'PB': [418,499,317,302,476],
    'PR': [420,508,419,396,327],
    'PE': [404,444,495,320,343],
    'PI': [513,513,304,377,475],
    'RJ': [502,481,492,502,506],
    'RN': [446,437,519,356,317],
    'RS': [427,518,459,317,321],
    'RO': [517,466,512,326,458],
    'RR': [466,495,469,495,310],
    'SC': [495,436,382,483,479],
    'SP': [495,407,362,389,317],
    'SE': [508,351,334,389,418],
    'TO': [339,490,304,488,419],
    'DF': [376,516,320,310,518], 
}

niveis_co2_df = pd.DataFrame.from_dict(niveis_co2, orient='index')
niveis_co2_df = niveis_co2_df.rename(columns={0: 'Janeiro', 1: 'Fevereiro', 2: 'Março', 3: 'Abril', 4: 'Maio'})
# niveis_co2_df.index.name = 'Estado'   --- colocar título no index, ou fazer na exportação para csv
display(niveis_co2_df)
niveis_co2_df.to_csv(r'arquivos\Níveis CO2.csv',encoding='latin1', sep=';', index_label="Estado")

## Lendo da Internet

# pandas lendo csv da internet

### Essa é uma das formas de importar arquivos da internet, direto do pandas. Mas nem sempre você vai conseguir abrir assim direto.

### 2 situações principais em que você consegue fazer direto

1. Arquivo csv direto no link (melhor dos mundos)
2. O arquivo csv é gerado para você, mas fica no meio de uma requisição que precisa ser tratada.

### Apenas para lembrar os tipos de encoding principais que vamos usar:

- encoding='latin1'
- encoding='ISO-8859-1'
- encoding='utf-8'
- encoding='cp1252'

### Caso 1: csv direto no link

- Criei um arquivo csv e disponibilizei o link para download no Drive: https://drive.google.com/uc?authuser=0&id=1Ru7s-x3YJuStZK1mqr_qNqiHVvdHUN66&export=download

In [ ]:
import pandas as pd

url = "https://drive.google.com/uc?authuser=0&id=1Ru7s-x3YJuStZK1mqr_qNqiHVvdHUN66&export=download"
cotacao_df = pd.read_csv(url)
display(cotacao_df)

### Caso 2: csv em uma requisição que precisa ser tratada

Pesquisei por histórico de preços do café no Google e cheguei nesse site: https://portalweb.cooxupe.com.br:9080/portal/precohistoricocafe_2.jsp

In [ ]:
import pandas as pd
import requests
import io

url = 'https://portalweb.cooxupe.com.br:9080/portal/precohistoricocafe_2.jsp?d-3496238-e=2&6578706f7274=1'
conteudo_url = requests.get(url).content
arquivo = io.StringIO(conteudo_url.decode('latin1'))
cafe_df = pd.read_csv(arquivo, sep=r'\t')
display(cafe_df)

## Integração Python + Excel
- Pandas
- Openpyxl

### Desafio:
- Atualizar o Multiplicador Imposto - Serviço para 1.5

In [4]:
#pandas
import pandas as pd

tabela = pd.read_excel(r'arquivos\Produtos.xlsx')
display(tabela)

,Produtos,Preço Base Original,Tipo,Multiplicador Imposto,Preço Base Reais
0,Tablet,999.99,Produto,1.1,1099.989
1,Pós Graduação,4500.00,Serviço,1.3,5850.000
2,Celular,899.99,Produto,1.1,989.989
3,Passagem Aérea,799.00,Serviço,1.3,1038.700
4,Computador,3000.00,Produto,1.1,3300.000
5,SPA,480.48,Serviço,1.3,624.624
6,Corte Cabelo,50.00,Serviço,1.3,65.000

In [6]:
# atualizar o multiplicador

tabela.loc[tabela['Tipo']=='Serviço','Multiplicador Imposto'] = 1.5

# fazer a conta do Preço Base Reais
tabela['Preço Base Reais'] = tabela['Multiplicador Imposto'] * tabela['Preço Base Original']

tabela.to_excel(r'arquivos\ProdutosPandas.xlsx', index=False)

In [7]:
#openpyxl
from openpyxl import Workbook, load_workbook

planilha = load_workbook(r'arquivos\Produtos.xlsx')

aba_ativa = planilha.active

for celula in aba_ativa['C']:
    if celula.value == 'Serviço':
        linha = celula.row
        aba_ativa[f'D{linha}'] = 1.5

planilha.save(r'arquivos\ProdutosOpenPy.xlsx')